body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  max-width: 500px;
  margin: auto;
}

.box.bg-blue {
  background: #c3d9e9;
}

.box[class*=bg-] {
  padding: 30px;
  margin-top: 30px;
}

.underline {
  text-decoration: underline;
}

.knapp {
  margin-left: 15px;
  padding: 0 20px;
  border-radius: 0;
  border: 4px solid #002c54;
  box-shadow: #dedede;
  z-index: 10;
  background-color: #dedede;
}

.form-control {
  border-radius: 0px !important;
}

.btn {
  padding: 1px 0 !important;
}